<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="w3-bar navbar">
    <a class="w3-bar-item" href="/">
        <button class="w3-btn white-text">Home</button>
    </a>
    <a class="w3-bar-item" href="/freelancer">
        <button class="w3-btn white-text">Freelancers</button>
    </a>
    <a class="w3-bar-item" href="/task">
        <button class="w3-btn white-text">Tasks</button>
    </a>
</nav>