
<div th:fragment="taskTable(tasks, id_suffix)">
  <link rel="stylesheet" href="/css/rowStyle.css">
  <script src="/js/assignTask.js"></script>
  <table class="w3-table-all">
    <thead>
    <tr class="w3-blue">
      <th>Created at</th>
      <th>Name</th>
      <th>Short Description</th>
      <th>Freelancer</th>
      <th>Priority</th>
      <th>Reward ($)</th>
      <th></th>
    </tr>
    </thead>
    <tr class="clickable-row" th:each="task: ${tasks}" th:onclick="'window.location.href=\'/task/details/' + ${task.taskId} + '\';'">
      <td th:text="${#temporals.format(task.createdAt, 'dd-MM-yyyy HH:mm')}">
        Task Created At
      </td>
      <td th:text="${task.name}">
        Task Name
      </td>
      <td th:text="${#strings.abbreviate(task.description, 100)}">
        Shortened Description
      </td>
      <td onclick="event.stopPropagation();">
        <span th:id="'freelancer-' + ${task.taskId} + '-' + ${id_suffix}">
            <a href="#" th:data-element-id="${task.taskId} + '-' + ${id_suffix}" th:onclick="'showDropdown(\'' + ${task.taskId} + '-' + ${id_suffix} + '\')'">
                <span th:if="${task.freelancer != null}" th:text="${task.freelancer}"></span>
                <span th:if="${task.freelancer == null}">unassigned</span>
            </a>
        </span>
        <select th:id="'dropdown-' + ${task.taskId} + '-' + ${id_suffix}" style="display: none;" th:onchange="'assignTask(' + ${task.taskId} + ', this.value, ' + ${id_suffix} + '); hideDropdown(\'' + ${task.taskId} + '-' + ${id_suffix} + '\')'">
          <option value="-1" th:selected="${task.freelancer == null}">unassigned</option>
          <option th:each="freelancer : ${allFreelancers}" th:value="${freelancer.freelancerId}" th:text="${freelancer}" th:selected="${task.freelancer != null && task.freelancer.freelancerId == freelancer.freelancerId}"></option>
        </select>
      </td>
      <td th:text="${task.priority}">
        Priority
      </td>
      <td th:text="${'$' + task.reward}">
        Reward in Dollars
      </td>
      <td>
        <form class="w3-form" th:action="${'/task/'+ task.taskId}" method="post">
          <input class="w3-btn w3-yellow" type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </table>
</div>
