.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    opacity: 0.7;
}

.paid {
    font-size: 20px;
}

table .clickable-row td {
    vertical-align: middle;
}

table {
    margin-bottom: 20px;
}

.green-tick::before {
    content: "\2713";
    color: green;
}

.red-cross::before {
    content: "\274C";
    color: red;
}
