<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container">
<div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
<h1 th:unless="${allTask.empty}" >All Tasks</h1>
<h1 th:if="${allTask.empty}">No Tasks</h1>
<table th:unless="${allTask.empty}" class="w3-table-all">
    <thead>
    <tr class="w3-pink">
        <th>Id</th>
        <th>Description</th>
        <th>Freelancer</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="r: ${allTask}">
        <td th:text=${r.id}>
            23
        </td>
        <td th:text="${r.dsc}">
            Electricity
        </td>
        <td th:text="${r.freelancer}">

        </td>
        <td>
            <form class="w3-form" th:action="${'/task/'+ r.id}" method="post">
                <input class="w3-btn w3-yellow" type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
</body>
</html>