<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container">
<div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
<h1 th:unless="${allTasks.empty}" >All Tasks</h1>
<h1 th:if="${allTasks.empty}">No Tasks</h1>
<button onclick="location.href='/task/create'" class="w3-btn w3-blue">Add New Task</button>
<table th:unless="${allTasks.empty}" class="w3-table-all">
    <thead>
    <tr class="w3-pink">
        <th>Name</th>
        <th>Short Description</th>
        <th>Freelancer</th>
        <th>Reward ($)</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="r: ${allTasks}">
        <td th:text="${r.name}">
            Task Name
        </td>
        <td th:text="${#strings.abbreviate(r.description, 100)}">
            Shortened Description
        </td>
        <td th:text="${r.freelancer}">
            Assigned Freelancer
        </td>
        <td th:text="${'$' + r.reward}">
            Reward in Dollars
        </td>
        <td>
            <form class="w3-form" th:action="${'/task/'+ r.taskId}" method="post">
                <input class="w3-btn w3-yellow" type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
</body>
</html>