<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container">
<div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
<h1 th:unless="${tasksFor.empty}" th:text="'Tasks for ' + ${freelancer}">Tasks for Tom</h1>
<h1 th:if="${tasksFor.empty}" th:text="'No Tasks for ' + ${freelancer}">No Tasks for Tom</h1>
<table th:unless="${tasksFor.empty}" class="w3-table-all">
    <thead>
    <tr class="w3-pink">
        <th>Id</th>
        <th>Description</th>
        <th></th>
    </tr>

    </thead>
    <tr th:each="r: ${tasksFor}">
        <td th:text=${r.id}>
            23
        </td>
        <td th:text=${r.dsc}>
            Electricity
        </td>
        <td>
            <form class="w3-form" th:action="${'/task/'+ r.id}" method="post">
                <input class="w3-btn w3-yellow" type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<p>
    <a class="w3-button w3-blue" th:href="${'/task/create?freelancerId='+ freelancer.id}">Add Task</a>
</p>
</body>
</html>