<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all freelancer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="w3-container">
<div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
<h1>Freelancers</h1>
</body>
<table class="w3-table-all">
    <tr class="w3-blue">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
        <th>Tasks assigned</th>
        <th></th>
    </tr>
    <tr th:each="c: ${freelancers}">
        <td th:text="${c.firstName}"></td>
        <td th:text="${c.lastName}"></td>
        <td th:text="${c.address.getCountry()}"></td>
        <td th:text="${c.tasks.size()}"></td>
        <td>
            <form th:action="${'/freelancer/' + c.freelancerId}" method="post">
                <button class="w3-btn w3-red" type="submit" value="Delete">X</button>
            </form>
        </td>
    </tr>
</table>
<p>
    <a class="w3-btn w3-green" href="freelancer/create">Add</a>
</html>