<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all freelancer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/rowStyle.css">
</head>
<body class="w3-container">
<div class="w3-bar" th:replace="~{fragments/NavBar}">Menu Bar</div>
<h1>Freelancers</h1>
</body>
<table class="w3-table-all">
    <tr class="w3-blue">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
        <th>Tasks assigned</th>
        <th></th>
    </tr>
    <tr class="clickable-row" th:each="freelancer: ${freelancers}" th:onclick="'window.location.href=\'/freelancer/profile/' + ${freelancer.freelancerId} + '\';'">
        <td th:text="${freelancer.firstName}"></td>
        <td th:text="${freelancer.lastName}"></td>
        <td th:text="${freelancer.address.getCountry()}"></td>
        <td>
            <a th:href="@{'/task/for/' + ${freelancer.freelancerId}}" th:text="${freelancer.tasks.size()} + ' (show all)'"></a>
        </td>
        <td>
            <form th:action="${'/freelancer/' + freelancer.freelancerId}" method="post">
                <button class="w3-btn w3-red" type="submit" value="Delete">X</button>
            </form>
        </td>
    </tr>
</table>
<p></p>
<a class="w3-btn w3-green" href="freelancer/create">Add Freelancer</a>
</html>